.app {
  display: flex;
  flex-flow: column nowrap;
  grid-template-rows: auto 1fr;
  height: 100vh;
  overflow: hidden;
}

.main {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  overflow: hidden;
}

.sidebar {
  width: calc((6 / 16) * 100%);
  height: 100%;
  overflow-y: auto;
}

.details {
  width: calc((10 / 16) * 100%);
  overflow: hidden;
  height: 100%;
}

.noRequest, .noRequestSelected {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
