.requestSummary {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 1em;
  grid-gap: 1em;
  align-items: center;
}

.method {
}

.statusCode {
  padding: 0.2em;
  border-radius: 0.4em;
  background-color: darkgray;

  &.info, &.success, &.redirect {
    background-color: forestgreen;
  }

  &.clientError, &.serverError {
    background-color: red;
  }
}
