@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import "../node_modules/bootstrap-darkmode/scss/darktheme";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  font-family: sans-serif;
  overflow: hidden;
}
